.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #d7d5c7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.137);
  z-index: 99999;
  position: sticky;
  top: 0;
  left: 0;
}