@media (max-width:1500px) {
  .us-cover {
    justify-content: flex-start;
  }

  .us-cover__text {
    position: relative;
    top: 100px;
    left: 25px;
  }

}

@media (max-width:1300px) {
  .us-cover__text {
    padding: 0 20px;
  }
}

@media (max-width:1020px) {
    .menu {
      padding-left: 40px;
      padding-right: 40px;
    }

    .us-cover__text {
      top: 50px;
    }

  }

@media (max-width: 964px) {
  .hero {
    height: 100vh;
    background-position: top 0 right -20%;
  }

  .single-pro-links {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width:924px) {

  .menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu__link {
    padding: 0 10px;
  }

  /* Us page */

  .us-text__container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .us-video {
    margin-top: 30px;
}

  .us-block {
    width: 100%;
    margin-top: 20px;
  }

  }

@media (max-width:800px){
  
    .top__header {
      display: none;
    }
  
     .bag-li {
      display: none;
     }

     .menu {
        padding: 0 10px;
      }
    
      .menu__hamburger{
          display: flex;
      }
    
      .menu__item{
          --clip:0;
          overflow:hidden;
      }
    
      .menu__item--active{
          --transform: rotate(0);
          --background: hsl(12, 82%, 55%);
      }
    
      .menu__item--show{
          background-color: var(--background);
      }
    
    
      .menu__links{
          position: fixed;
          max-width: 400px;
          width: 100%;
          top: 85px;
          left: 100%;
          justify-content: stretch;
          background-color: hsl(12, 82%, 55%);
          overflow-y: auto;
          display: grid;
          grid-auto-rows: max-content;
          padding-top: 60px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.137);
      }
      
    
      .menu__links--show{
          transform: translateX(-100%);
          width: 100%;
      }
    
      .menu__link{
          padding: 25px 0;
          padding-left: 30px;
          height: auto;
      }
    
      .menu__arrow{
          margin-left: auto;
          margin-right: 20px;
      }
    
      .menu__nesting{
          display: grid;
          position: unset;
          width: 100%;
          transform: translateY(0);
          height: 0;
          transition: height .3s;
      }
    
      .menu__link--inside{
          width: 90%;
          margin-left: auto;
          border-left: 1px solid #798499;
      }
    
      .close {
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 30px;
          right: 20px;
      }
    
      .close:hover {
          cursor: pointer;
      }
  
     .hero {
      height: 100vh;
      padding: 0 80px;
      background-position: top 0 right -75%;
      background-size: 80%;
      justify-content: flex-end;
     }

     .hero .hero-text-background {
      padding: 10px;
      background-color: #ffffff9f;
      border-radius: 7px;
    }

     .us-cover {
      background-position: center;
     }

     .us-cover__text {
      top: 20px;
      left: 20px;
     }
  
     .feature {
      display: none;
      justify-content: center;
      gap: 10px;
     }
  
    .feature-products .product-container {
      justify-content: center;
    }
  
    .feature-products .product {
      margin: 15px;
    }
  
    .banner {
      height: 70vh;
      background-position: top 100% right 100%;
  
    }
  
    .banner h2 {
      width: auto;
      padding: 30px 100px;
    }
  }
  
@media (max-width:680px) {
    .hero {
      padding: 40px 0;
    }

    /* Us Page*/
    .us-text {
      padding: 80px 40px 0 40px;
  }


    /* Blog Page */

    .blog {
        padding: 100px 20px 0 20px;
    }

    .blog .blog-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .blog .blog-img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }

    .blog .blog-details {
      width: 100%;
  }

  /* Contact Page*/
  .form-container {
    max-width: 400px;
  }
  
  }
  
@media (max-width:560px) {
  
    .hero {
      padding: 50px 0;
    }

    /* Us Page*/
    .us-text {
      padding: 40px 40px 0 40px;
    }
  
    .section-p1 {
      padding: 40px 10px;
    }
  
    .banner h2 {
      padding: 30px 0;
    }
  
  }

  @media (max-width:530px) {
  
    .hero {
      background-position: bottom -0 right -130%;
    }
  }
  
@media (max-width:477px) {
  
    .hero {
    width: 100%;
    padding: 50px 20px;
    background-size: 150vh;
    background-position: top -115px right 105%;
    }
   
    
    .us-cover {
      width: 100%;
      background-size: cover;
      }

    .us-cover__text {
      min-width: 237px;
      padding: 0;
    }

    .us-cover__text h3 {
      font-size: 20px;
    }  

    .us-cover__text h1 {
      font-size: 50px;
    } 
  
    .footer {
      padding: 20px;
    }

    /* Single product */
    .prodetails {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    .prodetails .single-pro-details {
      width: 100%;
    }

}


