<section class="feature section-p1">
    <div class="feature-box">
        <img src="/img/assets/feature-1a.jpg" alt="">
        <h6>Entregas a domicilio</h6>
    </div>
    <div class="feature-box">
        <img src="/img/assets/feature-2a.jpg" alt="">
        <h6>A tiempo</h6>
    </div>
    <div class="feature-box">
        <img src="/img/assets/feature-3a.jpg" alt="">
        <h6>Ahorra dinero</h6>
    </div>
    <div class="feature-box">
        <img src="/img/assets/feature-4a.jpg" alt="">
        <h6>Promociones</h6>
    </div>
    <div class="feature-box">
        <img src="/img/assets/feature-5a.jpg" alt="">
        <h6>Compra feliz</h6>
    </div>
    <div class="feature-box">
        <img src="/img/assets/feature-6a.jpg" alt="">
        <h6>Atención personalizada</h6>
    </div>
</section>