<section class="feature-products section-p1">
    <h2>Productos destacados</h2>
    <p>Colección Once Once - Sueños de Niñez. Para momentos memorables</p>
        <div class="product-container">
            <div class="product">
                <img src="/img/products/1.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/2.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/3.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/4.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/5.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/6.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/7.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/8.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
        </div>
</section>