<footer class="section-p1">
    <div class="col">
        <a href="/index.html"><img src="/img/logo/logo-once-once-orange.svg" alt="Logo Once Once" class="logo"></a>
        <h4>Contacto</h4>
        <p><strong>Dirección:</strong> Calle 11 # 8 - 47, Novalito (Dentro de Bella Boda)</p>
        <p><a href="https://api.whatsapp.com/send?phone=573234273817&amp;text=Hola, estuve visitando su sitio Web y quisiera obtener más información sobre sus servicios, citas y tratamientos."
            target="_blank"><strong>Teléfono: </strong>605 304 3761576</a></p>
        <p><strong>Con cita previa para tener el gusto de atenderte</strong></p>
        <div class="follow">
            <h4>Síguenos en</h4>
            <div class="social-icons">
                <img src="/img/assets/facebook-icon.png" alt="Facebook icon" class="social-img">
                <img src="/img/assets/ing.png" alt="Instagram icon" class="social-img">
                <img src="/img/assets/twitter-icon.png" alt="Twitter icon" class="social-img">
                <img src="/img/assets/linkedin-icon.png" alt="LinkedIn icon" class="social-img">
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Sobre nosotros</h4>
        <a href="#">¿Quiénes somos?</a>
        <a href="#">Información sobre domicilios</a>
        <a href="#">Política de Privacidad</a>
        <a href="#">Términos y Condiciones</a>
        <a href="#">Contáctanos</a>
    </div>

    <div class="col">
        <h4>Mi cuenta</h4>
        <a href="#">Regístrate</a>
        <a href="#">Ver Carrito de Compras</a>
        <a href="#">Mi Lista de Deseos</a>
        <a href="#">Rastrea Tu Pedido</a>
        <a href="#">Ayuda</a>
    </div>

    <div class="col payment-methods">
        <h4>Métodos Seguros de Pago</h4>
        <p>Pagos con Tarjetas de Crédito</p>
        <img src="/img/assets/credit-cards-payment.png" alt="Métodos de Pago Tarjetas de Crédito">
        <p>Pagos por Efecty y PSE</p>
        <img src="/img/assets/pse-efecty-payment.png" alt="Métodos de Pago Efecty y PSE">
    </div>
    <div class="copyright">
        <p><a href="https://github.com/darioernesto-roca" target="_blank">Desarrollado por Dario Ernesto Roca. 2023</a> | Todos los derechos Reservados</p>
    </div>
</footer>