<header class="header">
    <nav class="menu">
        <section class="menu__container">
            <a href="/inicio"><img src="/img/logo/logo-once-once-white.svg" class="logo" alt="Logo Once Once" class="Once Once"></a>
            <ul class="menu__links">
                <a href="#" id="close"><img src="/img/assets/xmark.svg" alt="X mark Icon" class="close"></a>
                <li class="menu__item">
                    <a href="/inicio" class="menu__link">Inicio</a>
                </li>
    
                <li class="menu__item menu__item--show">
                    <a href="/boys" class="menu__link">Boys <img src="/img/assets/arrow.svg" alt="arrow" class="menu__arrow"></a>
    
                    <ul class="menu__nesting">
                        <li class="menu__inside">
                            <a href="/boys/bautizo" class="menu__link menu__link--inside">Bautizo</a>
                        </li>
                        <li class="menu__inside">
                            <a href="/boys/pajecitos" class="menu__link menu__link--inside">Pajecitos</a>
                        </li>
                        <li class="menu__inside">
                            <a href="/boys/toda-ocasion" class="menu__link menu__link--inside">Toda ocasión</a>
                        </li>
                    </ul>
                </li>
    
                <li class="menu__item  menu__item--show">
                    <a href="/girls" class="menu__link">Girls <img src="/img/assets/arrow.svg" alt="arrow" class="menu__arrow"></a>
    
                    <ul class="menu__nesting">
                        <li class="menu__inside">
                            <a href="/girls/vestidos" class="menu__link menu__link--inside">Vestidos</a>
                        </li>
                        <li class="menu__inside">
                            <a href="/girls/sets" class="menu__link menu__link--inside">Sets</a>
                        </li>
                        <li class="menu__inside">
                            <a href="/girls/bebes" class="menu__link menu__link--inside">Bebés</a>
                        </li>
                    </ul>
                </li>
    
                <li class="menu__item">
                    <a href="/blog" class="menu__link">Blog</a>
                </li>
                <li class="menu__item">
                    <a href="/nosotros" class="menu__link">Nosotros <img src="/img/assets/arrow.svg" alt="arrow" class="menu__arrow"></a>
                    <ul class="menu__nesting">
                        <li class="menu__inside">
                            <a href="/nuestra-tienda" class="menu__link menu__link--inside">Nuestra Tienda</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a href="/contacto" class="menu__link">Contacto</a>
                </li>
                <li class="bag-li menu__item"><a href="/carrito-de-compras" class="menu__link"><img class="bag-icon" src="/img/assets/bag-icon.svg" alt="Bag Icon"></a>
                </li>

    
            </ul>
            <div class="menu__hamburger">
                <img src="/img/assets/outdent-icon.svg" alt="Menú" class="menu__img" id="menuToggle">
            </div>
        </section>
    
    </nav>
</header>

<script async defer type="module" src="/script.js"></script>