<section class="hero">
    <!-- <h4>En cada etapa de tu hijo</h4>
    <h2>Vístelo cómodo y elegante</h2> -->
    <div class="hero-text-container">
        
        <!-- <a href="#feature-products">
            <div class="cover-button">Comprar Ahora</div>
        </a> -->
    </div>
    
    <!-- <p>Obtén tarjetas de regalo y bonos de hasta el 70% de descuento!</p> -->
</section>
<h1 class="hero-title">Calidad y amor en cada una de nuestras referencias</h1>