<section class="hero">
    <h4>Estamos de promoción</h4>
    <h2>Grandes ofertas</h2>
    <h1>En todos los productos</h1>
    <p>Obtén tarjetas de regalo y bonos de hasta el 70% de descuento!</p>
    <button>Comprar Ahora</button>
</section>