<div class="container__link-subcategory">
    <h2><a class="link-subcategory" href="/girls/vestidos">Vestidos</a></h2>
    <h2><a class="link-subcategory" href="/girls/sets">Sets</a></h2>
    <h2><a class="link-subcategory" href="/girls/bebes">Bebés</a></h2>
</div>