<div class="container__link-subcategory">
    <h2><a class="link-subcategory" href="/boys/bautizo">Bautizo</a></h2>
    <h2><a class="link-subcategory" href="/boys/pajecitos">Pajecitos</a></h2>
    <h2><a class="link-subcategory" href="/boys/toda-ocasion">Toda Ocasión</a></h2>
</div>