<section class="section-m1">
<div class="mosaic-container">
    <img class="store-image horizontal" src="/img/assets/store/store1.jpg" alt="Tienda imagen 1">
    <img class="store-image horizontal" src="/img/assets/store/store2.jpg" alt="Tienda imagen 2">
    <img class="store-image vertical" src="/img/assets/store/store3.jpg" alt="Tienda imagen 3">
    <img class="store-image horizontal" src="/img/assets/store/store4.jpg" alt="Tienda imagen 4">
    <img class="store-image horizontal" src="/img/assets/store/store5.jpg" alt="Tienda imagen 5">
    <img class="store-image vertical" src="/img/assets/store/store6.jpg" alt="Tienda imagen 6">
    <img class="store-image horizontal" src="/img/assets/store/store7.jpg" alt="Tienda imagen 7">
    <img class="store-image horizontal" src="/img/assets/store/store8.jpg" alt="Tienda imagen 8">
    <img class="store-image vertical" src="/img/assets/store/store9.jpg" alt="Tienda imagen 9">
    <img class="store-image horizontal" src="/img/assets/store/store10.jpg" alt="Tienda imagen 10">
    <img class="store-image vertical" src="/img/assets/store/store11.jpg" alt="Tienda imagen 11">
    <img class="store-image vertical" src="/img/assets/store/store12.jpg" alt="Tienda imagen 12">
    <img class="store-image horizontal" src="/img/assets/store/store13.jpg" alt="Tienda imagen 13">
    <img class="store-image horizontal" src="/img/assets/store/store14.jpg" alt="Tienda imagen 14">
    <img class="store-image horizontal" src="/img/assets/store/store15.jpg" alt="Tienda imagen 15">
    <img class="store-image horizontal" src="/img/assets/store/store16.jpg" alt="Tienda imagen 16">
    <img class="store-image horizontal" src="/img/assets/store/store17.jpg" alt="Tienda imagen 17">
    <img class="store-image vertical" src="/img/assets/store/store20.jpg" alt="Tienda imagen 20">
    <img class="store-image horizontal" src="/img/assets/store/store18.jpg" alt="Tienda imagen 18">
    <img class="store-image horizontal" src="/img/assets/store/store19.jpg" alt="Tienda imagen 19">
    <img class="store-image vertical" src="/img/assets/store/store21.jpg" alt="Tienda imagen 21">
</div>
</section>