<section class="feature-products section-p1">
    <h2>Nuevos diseños</h2>
    <p>Colección Once Once - Valle Kids. Diseños modernos y exclusivos</p>
        <div class="product-container">
            <div class="product">
                <img src="/img/products/9.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/10.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/11.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/12.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/13.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/14.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/15.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/16.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
        </div>
</section>