<section class="newsletter section-p1 section-m1">
    <div class="newstext">
        <h4>Regístrate para recibir información</h4>
        <p>Obtén información de nuestras últimas colecciones y <span>ofertas especiales</span></p>
    </div>
    <form class="form">
        <input type="text" placeholder="Tu correo electrónico">
        <button class="normal">Registrarse</button>
    </form>
    
</section>