<section class="newsletter section-p1 section-m1">
    <div class="newstext">
        <h4>Regístrate</h4>
        <p>Y obtén más información de nuestras últimas colecciones y <span>ofertas especiales</span></p>
    </div>
    <a class="normal" href="/contacto">Registrarse</a>
    <!-- <form class="form">
        <input type="text" placeholder="Tu correo electrónico">
        <button class="normal">Registrarse</button>
    </form> -->
    
</section>