<section class="sm-banner section-p1">
    <div class="banner-box">
        <h4>Diseños especiales</h4>
        <h2>Productos bajo pedido</h2>
        <span>La mejor calidad al mejor precio</span>
        <button class="black">Saber más</button>
    </div>
    <div class="banner-box banner-box-1">
        <h4>Colecciones</h4>
        <h2>Temporadas</h2>
        <span>La mejor calidad al mejor precio</span>
        <button class="black">Saber más</button>
    </div>
</section>