<section class="sm-banner section-p1">
    <div class="banner-box">
        <h4>Precios de locura</h4>
        <h2>Productos en oferta</h2>
        <span>La mejor calidad al mejor precio</span>
        <button class="black">Saber más</button>
    </div>
    <div class="banner-box banner-box-1">
        <h4>Cariños de Mamá | Cool Kids</h4>
        <h2>Temporadas</h2>
        <span>La mejor calidad al mejor precio</span>
        <button class="black">Colecciones</button>
    </div>
</section>