<section class="sm-banner section-p1">
    <div class="banner-box">
        <h4>Diseños especiales</h4>
        <h2>Productos bajo pedido</h2>
        <span>La mejor calidad al mejor precio</span>
        <a href="/contacto" class="black">Saber más</a>
    </div>
    <div class="banner-box banner-box-1">
        <h4>Colecciones</h4>
        <h2>Temporadas</h2>
        <span>La mejor calidad al mejor precio</span>
        <a href="https://api.whatsapp.com/send?phone=573043761576&amp;text=Hola, quisiera saber más sobre los productos que ofrecen en la página www.onceonceropaparabebes.com" class="black" target="_blank">Saber más</a>
    </div>
</section>