<div class="top__header">
    <div class="top__header__phone">
        <a class="top__header__link" href="tel:3043761576" target="_blank">3043761576</a>
    </div>
    <div class="top__header__email">
        <a class="top__header__link" href="mailto:info@onceonce.com" target="_blank">info@onceonce.com</a>
    </div>
</div>