<div class="top__header">
    <div class="top__header__phone">
        <a class="top__header__link" href="tel:3004277281" target="_blank">3004277281</a>
    </div>
    <div class="top__header__email">
        <a class="top__header__link" href="mailto:onceonce@gmail.com" target="_blank">onceonce@gmail.com</a>
    </div>
</div>