<section class="page-header blog-header">
  <h2>Blog</h2>
</section>

<section class="blog">
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-1.jpg" alt="Post-1">
    </div>
    <div class="blog-details">
      <h4>Outfits encantadores para ocasiones especiales</h4>
      <p>Ideas para vestir a tu hijo en eventos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam ducimus id non alias aspernatur nesciunt nam, modi sed accusamus...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>15/05</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-2.jpg" alt="Post-2">
    </div>
    <div class="blog-details">
      <h4>Las tendencias más adorables</h4>
      <p>Descubre las prendas de moda para bebés y niños. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam ducimus id non alias aspernatur nesciunt nam, modi sed accusamus...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>13/05</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-3.jpg" alt="Post-3">
    </div>
    <div class="blog-details">
      <h4>Consejos de cuidado para tus prendas de lino</h4>
      <p>Mantén su belleza y durabilidad a lo largo del tiempo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam ducimus id non alias aspernatur nesciunt nam, modi sed accusamus...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>10/05</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-4.jpg" alt="Post-4">
    </div>
    <div class="blog-details">
      <h4>Moda sustentable para los más pequeños</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam ducimus id non alias aspernatur nesciunt nam, modi sed accusamus...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>07/05</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-5.jpg" alt="Post-5">
    </div>
    <div class="blog-details">
      <h4>Consejos de estilo para mamás</h4>
      <p>Cómo combinar la moda de bebés y niños con tu propio look. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam ducimus id non alias aspernatur nesciunt nam, modi sed accusamus...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>02/05</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-6.jpg" alt="Post-6">
    </div>
    <div class="blog-details">
      <h4>Prendas cómodas y divertidas</h4>
      <p>Los mejores outfits para que los niños disfruten mientras juegan. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam ducimus id non alias aspernatur nesciunt nam, modi sed accusamus...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>30/04</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-7.jpg" alt="Post-7">
    </div>
    <div class="blog-details">
      <h4>Ideas extraordinarias para vestir a tus hijos</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam ducimus id non alias aspernatur nesciunt nam, modi sed accusamus...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>27/04</h1>
  </div>
</section>

<%- include('components/pagination'); -%>