<section class="page-header blog-header">

</section>
<h2 class="page-header-title">Blog</h2>

<section class="blog">
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-1.jpg" alt="Post-1">
    </div>
    <div class="blog-details">
      <h4>Outfits encantadores para ocasiones especiales</h4>
      <p>Te presentamos ideas únicas y elegantes para vestir a tu hijo en eventos y ocasiones importantes. Desde trajes formales hasta conjuntos adorables, descubre cómo darle a tu pequeño un look impresionante que lo hará lucir como una estrella en cada celebración. Inspírate y crea memorables momentos fashion para tu hijo...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>15/05</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-2.jpg" alt="Post-2">
    </div>
    <div class="blog-details">
      <h4>Las tendencias más adorables</h4>
      <p>Las tendencias más adorables están aquí para vestir a tus pequeños con estilo. Desde colores vibrantes hasta estampados divertidos, te invitamos a explorar las últimas tendencias que harán que tus pequeñitos destaquen en cualquier ocasión...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>13/05</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-3.jpg" alt="Post-3">
    </div>
    <div class="blog-details">
      <h4>Consejos de cuidado para tus prendas de lino</h4>
      <p>El lino es una fibra natural apreciada por su elegancia y frescura, pero para mantener su belleza y durabilidad a lo largo del tiempo, es importante seguir ciertos consejos de cuidado. Descubre cómo mantener tus prendas de lino en óptimas condiciones, garantizando que luzcan impecables en cada ocasión y perduren en tu armario por mucho más tiempo...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>10/05</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-4.jpg" alt="Post-4">
    </div>
    <div class="blog-details">
      <h4>Moda sustentable para los más pequeños</h4>
      <p>Descubre cómo la moda sustentable para los más pequeños combina estilo, calidad y respeto por el planeta, proporcionando prendas que no solo los hacen lucir bien, sino que también contribuyen a un futuro más consciente y responsable...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>07/05</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-5.jpg" alt="Post-5">
    </div>
    <div class="blog-details">
      <h4>Consejos de estilo para mamás</h4>
      <p>Cómo combinar la moda de bebés y niños con tu propio look. ¿Quieres lucir elegante mientras cuidas de tus pequeños? Descubre cómo combinar tu propio estilo con las prendas de moda para bebés y niños. Desde outfits coordinados hasta accesorios a juego, te ofrecemos consejos prácticos para que puedas lucir a la moda sin comprometer la comodidad y el estilo de tus hijos...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>02/05</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-6.jpg" alt="Post-6">
    </div>
    <div class="blog-details">
      <h4>Prendas cómodas y divertidas</h4>
      <p>Los mejores outfits para que los niños disfruten mientras juegan. Ropa resistente y funcional hasta estampados y colores vibrantes, te presentamos los outfits ideales para que los niños se sientan libres de moverse y explorar mientras lucen geniales...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>30/04</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="/img/blog/post-7.jpg" alt="Post-7">
    </div>
    <div class="blog-details">
      <h4>Ideas extraordinarias para vestir a tus hijos</h4>
      <p>Desata tu creatividad y estilo. ¿Estás buscando formas únicas de vestir a tus hijos y hacer que destaquen entre la multitud? Aquí 5 tips de combinaciones de colores audaces hasta estilos eclécticos y accesorios únicos. Te mostramos cómo agregar un toque de originalidad a su guardarropa. Ya sea para ocasiones especiales o para el día a día, atrévete a experimentar y sorprender con outfits que dejarán a todos maravillados...</p>
      <a href="#">Seguir Leyendo</a>
    </div>
    <h1>27/04</h1>
  </div>
</section>

<!-- <%- include('components/pagination'); -%> -->