<%- include('components/banner-on-works'); -%>

<section class="cart-products section-p1">
    <h2>Carrito de Compras</h2>
    <div id="cartContainer" class="cart-container">
        <!-- Aquí se inserta el código proveniente de cart.js -->
    </div>
    <div class="cart-summary">
        <h4>Resumen del Carrito</h4>
        <div class="summary-item">
            <span>Total de productos:</span>
            <span id="totalProducts">0</span>
        </div>
        <div class="summary-item">
            <span>Total a pagar:</span>
            <span id="totalAmount">0</span>
        </div>
        <a href="#" class="checkout-btn">Ir a pagar</a>
    </div>
</section>


<script async defer type="module" src="/cart.js"></script>
