<section class="cart-products section-p1">
    <h2>Carrito de Compras</h2>
    <div class="cart-container">
        <div class="cart-product">
            <img src="/img/products/news-release/new1A.png" alt="product1">
            <div class="cart-description">
                <h5>Traje para niña blanco</h5>
                <h4>COP $180,000</h4>
            </div>
            <div class="cart-quantity">
                <input type="number" value="1">
                <button class="normal">Actualizar</button>
            </div>
            <div class="cart-remove">
                <button class="normal">Eliminar</button>
            </div>
        </div>
        <div class="cart-product">
            <img src="/img/products/news-release/new2A.png" alt="product2">
            <div class="cart-description">
                <h5>Traje para niña rosa</h5>
                <h4>COP $200,000</h4>
            </div>
            <div class="cart-quantity">
                <input type="number" value="2">
                <button class="normal">Actualizar</button>
            </div>
            <div class="cart-remove">
                <button class="normal">Eliminar</button>
            </div>
        </div>
    </div>
    <div class="cart-summary">
        <h4>Resumen del Carrito</h4>
        <div class="summary-item">
            <span>Total de productos:</span>
            <span>2</span>
        </div>
        <div class="summary-item">
            <span>Total a pagar:</span>
            <span>COP $380,000</span>
        </div>
        <a href="#" class="checkout-btn">Ir a pagar</a>
    </div>
</section>
