<section class="page-header boys-header">
  <h2>Contacto</h2>
  
</section>

<section class="page__container">
<% if (typeof success_msg !== 'undefined' && success_msg) { %>
  <div >
    <p class="success-msg"><%= success_msg %></p>
    <p class="success-link"><a class="normal" href="/inicio">Regresar a Inicio</a></p>
  </div>
  <% } %>
      <div class="form-container">
      <h2 class="form-title">Contáctanos</h2>
      <p class="header-paragraph">Agenda una cita para visitarnos en nuestro almacén, en la Calle 11 # 8 - 47, Novalito (Dentro de Bella Boda)</p>
      <p class="header-paragraph">También nos puedes contactar en <a href="https://api.whatsapp.com/send?phone=573234273817&amp;text=Hola, estuve visitando su sitio Web y quisiera obtener más información sobre Once Once, sus productos y servicios."
        target="_blank"><strong>Teléfono: </strong>605 304 3761576</a></p>
        <form class="contact-form" action="/contacto" method="POST">
            <div class="form-group">
                <label class="form-label" for="name">Nombre</label>
                <input class="form-input" id="name" name="name" type="text" placeholder="Escribe tu nombre completo" required <% if (errors && errors.name) { %>
                  class="form__input--error"
                <% } %>>
                <% if (errors && errors.name) { %>
                  <p class="form__error"><%= errors.name.msg %></p>
                <% } %>
            </div>
            <div class="form-group">
              <label class="form-label" for="phone">Teléfono</label>
              <input class="form-input" id="phone" type="phone" name="phone" placeholder="Digita un número de teléfono"
                  <% if (errors && errors.phone) { %>
                    class="form__input--error"
                  <% } %>>
                <% if (errors && errors.phone) { %>
                  <p class="form__error"><%= errors.phone.msg %></p>
                <% } %>
          </div>
            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input class="form-input" id="email" name="email" type="email" placeholder="Escribe tu Email" required <% if (errors && errors.email) { %>
                  class="form__input--error"
                <% } %>>
                <% if (errors && errors.email) { %>
                  <p class="form__error"><%= errors.email.msg %></p>
                <% } %>
            </div>
            <div class="form-group">
              <div class="help">Por favor selecciona el tipo de servicio en el que te encuentras interesado.</div>
                <label for="service">Servicios</label>
                <select id="service" name="service" required>
                    <option value="" disabled selected>Selecciona uno</option>
                    <option value="Cotizar o comprar una prenda">Cotizar o comprar una prenda</option>
                    <option value="Agendar una cita">Agendar una cita</option>
                    <option value="Conocer más sobre nuestros productos">Conocer más sobre nuestros productos</option>
                    <option value="Promociones">Promociones</option>
                    <option value="Hecho a la medida">Hecho a la medida</option>
                    <option value="Asesorías de estilo">Asesorías de estilo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="message">Mensaje</label>
                <textarea class="form-textarea" name="message" id="message" cols="40" rows="10" placeholder="Háblame sobre ti y describe brevemente el tema del cuál quieres hablar"></textarea>
                <div class="help">El mensaje no puede tener más de 500 palabras.</div>
            </div>
            <div class="form-group">
                <label for="terms">
                    <input id="terms" type="checkbox" name="terms" required>
                    <span>Acepto <a class="link__terms" href="/terminos-y-condiciones">términos y condiciones</a></span>
                </label>
            </div>
            <div class="button-container">
                <input type="submit" value="Enviar" class="normal">
            </div>
        </form>

</section>
