<div class="cover__container">
    <div class="cover__text">
        <h1 class="page-title">Ivo Pabón</h1>
        <blockquote class="blockquoute">La curiosa paradoja es que cuando me acepto tal como soy, entonces puedo cambiar
        </blockquote>
        <cite class="cite">—Carl Rogers</cite>
        <div class="main__btn-container">
            <a class="main__btn-container__btn-reserve" href="/contacto">Reserva tu cita</a>
        </div>
    </div>

    <div class="cover__image__container">
        <img src="/img/slider-3.jpg" alt="Terapia Corporativa" class="cover__image">
    </div>
</div>

<section class="section section-profile">
    <img class="main__image--profile" src="/img/quien-soy.jpg" alt="Ivo Pabón">
    <h2 class="section__title">¿Quién soy?</h2>
    <p class="strong-paragraph"><strong>Psicoterapeuta, pedagogo y conferencista, especialista en terapia de pareja y familia, en procesos de readaptación y prevención social y en el manejo de grupos.</strong></p>
    <p class="regular-paragraph">Como psicoterapeuta, mi enfoque es el desarrollo integral de las personas, abarcando su salud emocional y psicológica. Con mi amplia experiencia en el campo de la educación y la terapia psicológica, puedo ayudarte a superar los desafíos que enfrentas en tu vida diaria y alcanzar tus metas personales.</p>
    <div class="experiences__container">
        <ul class="experiences__list">
            <li class="experiences__item">Más de 25 años como psicoterapeuta</li>
            <li class="experiences__item">Docente de "Lectura y Pensamiento Crítico" de la I.E.D. Liceo Celedón</li>
            <li class="experiences__item">Director U.E.P. Nuestra Señora del Sagrado Corazón</li>
            <li class="experiences__item">Secretario de la Asociación Venezolana de Educación Católica (AVEC)</li>
            <li class="experiences__item">Director U.E.P. Arquidiocesana Monseñor Olegario Villalobos</li>
            <li class="experiences__item">Profesor de UNIR-Centro. Maracaibo, Estado Zulia</li>
            <li class="experiences__item">Profesor de Psicología Educativa, Filosofía de la Educación.</li>
            <li class="experiences__item">Profesor de Lengua y Literatura Colegio Santa María Goretti. Maracaibo, Estado
                Zulia.</li>
            <li class="experiences__item">Coordinador General de Pastoral Colegio Santa Mariana de Jesús. Maracaibo, Estado
                Zulia.</li>
            <li class="experiences__item">Coordinador del Departamento de Asistencia Estudiantil UE. Ramón León Ávila.
                Maracaibo, Estado Zulia.</li>
            <li class="experiences__item">Taller de formación de equipos de alto rendimiento. Clínica Kinesis.
                Santa Marta, Colombia.</li>
        </ul>
        <div class="main__btn-container">
            <a class="main__btn-container__btn-reserve" href="/contacto">Reserva tu cita</a>
        </div>
    </div>
</section>

<section class="section services">
    <h2 class="section__title">Servicios</h2>
    <a href="/servicios">
        <p class="strong-paragraph">¿Cuáles son?</p>
    </a>
    <p class="regular-paragraph">Ya sea que necesites terapia individual, de pareja o familiar, puedo brindarte un ambiente seguro y acogedor para explorar tus pensamientos y emociones. ¡Comunícate conmigo hoy para comenzar tu viaje hacia una vida más saludable y feliz!</p>
    <div class="service">
        <h3 class="service-title">Terapia de pareja</h3>
        <div class="service__image-container">
            <img src="/img/terapia-pareja.png" alt="Terapia de pareja" class="service__image1">
        </div>
        <p class="regular-paragraph">La terapia de pareja mejora la comunicación y el entendimiento entre ambos miembros de la relación, fomentando el bienestar de la pareja en un espacio terapéutico.</p>
    </div>
    <div class="service">
        <h3 class="service-title">Psicoterapia familiar</h3>
        <div class="service__image-container">
            <img src="/img/terapia-familia.png" alt="Terapia de familia" class="service__image2">
        </div>
        <p class="regular-paragraph">La terapia familiar es un espacio terapéutico para resolver conflictos, mejorar la comunicación y promover relaciones saludables entre los miembros de la familia.</p>
    </div>
    <div class="service">
        <h3 class="service-title">Terapia corporativa e institucional</h3>
        <div class="service__image-container">
            <img src="/img/terapia-institucional.png" alt="Terapia de institucional" class="service__image3">
        </div>
        <p class="regular-paragraph">La terapia de grupo o institucional es un espacio en el que las personas con problemáticas similares trabajan juntas para mejorar su bienestar emocional y mental.</p>
    </div>
    <div class="main__btn-container">
        <a class="main__btn-container__btn-reserve" href="/contacto">Reserva tu cita</a>
    </div>
</section>


<section class="section values">
    <h2 class="section__title">Mis valores</h2>
    <p class="strong-paragraph"><strong>Lo que me caracteriza</strong></p>
    <p class="regular-paragraph">
    <ul>
        <li class="regular-paragraph">Empatía, para ponerme en tu lugar</li>
        <li class="regular-paragraph">Escucha activa, para entender tus problemas</li>
        <li class="regular-paragraph">Respeto, para no juzgar ni criticar</li>
        <li class="regular-paragraph">Ética profesional, para cumplir con los principios de mi profesión</li>
        <li class="regular-paragraph">Comunicación efectiva, para transmitir mi mensaje de manera clara y comprensible</li>
        <li class="regular-paragraph">Paciencia, ya que el proceso de terapia puede ser largo y con obstáculos</li>
        <li class="regular-paragraph">Creatividad, para encontrar soluciones innovadoras a tus problemas</li>
        <li class="regular-paragraph">Enfoque integral en cada caso</li>
        <li class="regular-paragraph">Compromiso con brindar el mejor apoyo a los pacientes.</li>
        <li class="regular-paragraph">Integridad ante la confidencialidad</li>
        <li class="regular-paragraph">Humildad para siempre seguir aprendiendo</li>
    </ul>
    </p>
</section>

<section class="section testimonials">
    <div class="slider">
        <div class="slider__arrow_prev"><img class="arrow" src="/img/arrow-left.png" alt="Arrow left"></div>
        <div class="slider-container">
            <div class="slider__item slider-hidden" id="testimonio-1">
                <img class="slider__item-img" src="/img/maria-fernanda.jpg" alt="María Fernanda">
                <p class="regular-paragraph">"Gracias a la terapia con Ivo Pabón, he aprendido a manejar mis emociones y tomar decisiones más conscientes en mi vida."</p>
                <p class=".term-item-title">—María Fernanda</p>
            </div>
            <div class="slider__item slider-hidden" id="testimonio-2">
                <img class="slider__item-img" src="/img/andres.jpg" alt="Andrés">
                <p class="regular-paragraph">"La terapia con Ivo me ha ayudado a entender y superar mis miedos, y me siento mucho más seguro de mí mismo."</p>
                <p class=".term-item-title">—Andrés</p>
            </div>
            <div class="slider__item slider-hidden" id="testimonio-3">
                <img class="slider__item-img" src="/img/ernesto-yina.jpg" alt="Yina y Ernesto">
                <p class="regular-paragraph">"Ivo es un excelente terapeuta de parejas, nos ha dado las herramientas para comunicarnos mejor y fortalecer nuestra relación."</p>
                <p class=".term-item-title">—Yina y Ernesto</p>
            </div>
        </div>
        <div class="slider__arrow_next"><img class="arrow" src="/img/arrow-right.png" alt="Arrow right"></div>
    </div>
</section>
</div>

</div>

  