<div class="blog legal-privacy">
    <h1 class="page-title"><%- title %></h1>
    <p class="regular-paragraph">Querido Cliente y/o usuario gracias por visitar <a
        href="https://www.onceonceropaparabebes.com">www.onceonceropaparabebes.com</a>. Esta página tiene como
    función la oferta de comercio electrónico e información sobre nuestros productos y adicionalmente podrá
    encontrar los términos y condiciones que nos asegura que tiene acceso y conocimiento de los derechos y
    obligaciones en su experiencia, visitando y ejecutando transacciones de compra en este sitio web.</p>

    <ul>

        <li>
            <span class="term-item-title">Atención de peticiones y reclamos:</span>
            <p class="regular-paragraph">
                Para la gestión de peticiones, reclamos y quejas o para el ejercicio de sus derechos, el titular de datos
                personales podrá comunicarse con Once Once al correo electrónico <a
                    href="mailto:onceonceropaparabebes@gmail.com">onceonceropaparabebes@gmail.com</a> o al <a
                    href="https://api.whatsapp.com/send?phone=573043761576&amp;text=Hola, quisiera presentar una queja o reclamo."
                    target="_blank">WhatsApp 3043761576</a>.
            </p>
        </li>

        <li>
            <span class="term-item-title">Cambio o devolución:</span>
            <p class="regular-paragraph">Se realizará cambio siempre y cuando:</p>
            <p class="regular-paragraph">
                <ol>
                    <li>La prenda presente algún defecto en el textil o en proceso de confección.</li>
                    <li>La talla no corresponde a la solicitada por el cliente.</li>
                    <li>Si en stock está la misma referencia en varias tallas.</li>
                    <li>Después de efectuada la compra, el tiempo para realizar los cambios es 30 días calendario, fecha factura.</li>
                </ol>
            </p>
        </li>

        <li>En caso de cambio por otra referencia debe ser de stock y el cliente asumirá el excedente. </li>

        <li>Once Once no realiza devolución de dinero bajo ninguna circunstancia.</li>

    </ul>
    <div class="main__btn-container">
        <a class="link-pages" href="/inicio">Volver a Inicio</a>
    </div>
</div>