<div class="page__container">
    <h1 class="page-title"><%- title %></h1>

    <section class="services__cards__container">
        <div class="cards services__card--1">
            <a href="/contacto" class="services_link">
                <img class="services__image--1" src="/img/terapia-individual.jpg" alt="Terapia individual" title="Terapia individual">
                <h3 class="strong-paragraph">Terapia individual</h3>
            </a>
            <p class="regular-paragraph">La terapia individual puede ayudar a las personas a mejorar su autoestima, a afrontar traumas y a establecer relaciones más saludables.</p>
        </div>
        <div class="cards services__card--2">
            <a href="/contacto" class="services_link">
                <img class="services__image--2" src="/img/terpia-parejas.jpg" alt="Terapia de pareja" title="Terapia de pareja">
                <h3 class="strong-paragraph">Terapia de pareja</h3>
            </a>
            <p class="regular-paragraph">La terapia de pareja es un espacio terapéutico en el que se trabaja con ambos miembros de la relación
                con el objetivo de mejorar la comunicación y el entendimiento, y fomentar el bienestar de la pareja.</p>
        </div>
        <div class="cards services__card--3">
            <a href="/contacto" class="services_link">
                <img class="services__image--3" src="/img/terapia-familiar.jpg" alt="Terapia familiar" title="Terapia familiar">
                <h3 class="strong-paragraph">Terapia familiar</h3>
            </a>
            <p class="regular-paragraph">La terapia familiar es un espacio terapéutico donde se trabaja con la familia para resolver conflictos, mejorar la comunicación y promover relaciones saludables.</p>
        </div>
        <div class="cards services__card--4">
            <a href="/contacto" class="services_link">
                <img class="services__image--4" src="/img/terapia-grupal.jpg" alt="Terapia de grupo" title="Terapia de grupo">
                <h3 class="strong-paragraph">Terapia de institucional o de grupo</h3>
            </a>
            <p class="regular-paragraph">La terapia de institucional o de grupo es un espacio en el que un grupo de personas con problemáticas similares trabajan juntas con el objetivo de mejorar su bienestar emocional y psicológico.</p>
        </div>
        <div class="cards services__card--5">
            <a href="/contacto" class="services_link">
                <img class="services__image--5" src="/img/conferencias-y-asesoramiento.jpg" alt="Orientación y asesoramiento" title=" y asesoramiento">
                <h3 class="strong-paragraph">Conferencias y asesoramiento</h3>
            </a>
            <p class="regular-paragraph">Desde una perspectiva pedagógica, imparto conferencias, talleres y charlas sobre temas relacionados con la salud mental, el bienestar emocional y hábitos de vida saludable dirigidos a jóvenes y grupos en entornos de aprendizaje.</p>
        </div>
    </section>
</div>