<div class="page__container">
    <h1 class="page-title"><%- title %></h1>
    <div class="us">
        <div class="us__image-container">
            <img class="us-image" src="/img/us-image.jpg" alt="Ivo Pabón">
        </div>
        <p class="paragraph">Hola, soy Ivo Alexander Pabón Contreras, un profesional con amplia experiencia en el campo educativo y en
            terapia psicológica. Me he desempeñado como docente en diferentes instituciones educativas, desde la
            educación básica hasta la universitaria, impartiendo clases en áreas como educación de la fe, filosofía,
            lengua y literatura, psicología educativa, entre otras.</p>
        <p class="paragraph">Además, he tenido la oportunidad de coordinar departamentos de asistencia estudiantil y de pastoral, así
            como también de dirigir unidades educativas. Mi formación académica incluye estudios de teología,
            filosofía y educación especializada, y una especialización en planificación y formación de equipos de
            alto rendimiento. También he realizado un diplomado en estrategias de planificación y gerencia
            corporativa.</p>
        <p class="paragraph">En mi trayectoria profesional, he complementado mi formación y experiencia en el campo educativo con la
            práctica en terapia psicológica, atendiendo casos tanto a nivel individual como familiar, de pareja y
            corporativo e institucional. Además, he participado en talleres y cursos de formación en áreas como
            prevención de drogas, diseño curricular y mejoramiento pedagógico.</p>
        <p class="paragraph">Mi perfil profesional se caracteriza por mi compromiso con el desarrollo integral de las personas, tanto
            en el ámbito educativo como en el emocional y psicológico. Soy una persona responsable, dinámica,
            comprometida y con capacidad para trabajar en equipo y liderar proyectos.</p>
    </div>

</div>