<div class="us-cover">
    <section class="us-cover__text">
        <!-- <h3>Familia</h3>
        <h1>Once Once</h1> -->
    </section>
</div>

<div class="us-text">
    <h1><strong>Once Once</strong></h>
    <h3>Ropa para bebés y niños con el mejor estilo</h3>
    <section class="us-text__container">
        <div class="us-block">
            <p>En un mundo en constante cambio, nace <strong>Once Once</strong>, una marca de ropa para bebés y niños que encarna la esencia misma de la cultura vallenata. Surgida en medio de la pandemia del COVID-19, nuestro propósito va más allá de vestir a los más pequeños de la casa; estamos comprometidos con el empoderamiento de las madres cabeza de hogar, brindándoles una oportunidad de empleo y un camino hacia la independencia económica.</p>
            <p>En <strong>Once Once</strong> cada prenda es creada con pasión y dedicación, utilizando materiales amigables con el medio ambiente que garantizan la comodidad y suavidad necesaria para el delicado mundo de los bebés y niños. Nuestros tejidos de lino y algodón no solo son respetuosos con la naturaleza, sino que también brindan una sensación única de frescura y elegancia.</p>
            <p>Desde los 3 meses hasta los 10 años de edad, <strong>Once Once</strong> se convierte en la elección perfecta para vestir a tu hijo con estilo y distinción. Nuestras prendas están diseñadas pensando en cada detalle, con acabados de alta calidad que reflejan el cuidado y la dedicación con la que son confeccionadas a mano, llenas de amor y compromiso.</p>
            <p>Ya sea para una ocasión especial, como un cumple mes, un cumpleaños o un bautizo, o simplemente para el día a día, nuestras colecciones se adaptan a todas las ocasiones. Queremos ser parte de esos momentos únicos en la vida de tus pequeños, vistiendo sus sueños con prendas que transmiten alegría, confianza y estilo.</p>
            <p>En <strong>Once Once</strong> no solo ofrecemos ropa infantil, sino una experiencia completa para ti y tus hijos. Nuestro compromiso con la excelencia se refleja en cada aspecto de nuestro servicio, desde la atención personalizada hasta la entrega puntual de tus pedidos. Queremos que te sientas parte de nuestra familia y que confíes en nosotros como tu marca de confianza para vestir a tus seres más queridos.</p>
            <p>Únete a la familia <strong>Once Once</strong> y descubre el encanto de vestir a tus hijos con un estilo excepcional. Juntos, creamos un futuro brillante para las madres emprendedoras, para la moda sostenible y, sobre todo, para el bienestar y la felicidad de tus pequeños. Porque en <s<strong>Once Once</strong> la calidad y el amor se unen en cada puntada para brindarles a tus hijos lo mejor. ¡No esperes más y déjate enamorar por <str<strong>Once Once</strong> donde la moda y la infancia se encuentran en un solo lugar!</p>
            <div><a href="/nuestra-tienda" class="link-pages">Conoce nuestra tienda</a></div>
            <div><a href="/contacto" class="link-pages">Escríbenos</a></div>
        </div>
        <div class="us-block feature-section"><video class="us-video" src="/vids/assets/video-once-once.mp4" controls></video></div>
    </section>
</div>
<%- include('components/newsletter'); -%>