@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@font-face {
  font-family: "FreightDis Pro";
  src: url("/font/freightdispro-regular.ttf");
  font-display: swap;
}
/*

Color logo: #ea3f2d hsl(6, 82%, 55%) strong orange Cinnabar
Color orange: #ea542e hsl(12, 82%, 55%);
Color icons: #a03037 red Stiletto


*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FreightDis Pro", sans-serif;
  letter-spacing: 1.5px;
}

body {
  background-color: whitesmoke;
  background-image: url(/img/assets/background-body.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-width: 375px;
  margin: 0 auto;
}

h1 {
  font-size: 33px;
  line-height: 43px;
  color: #222;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  color: #222;
}

p {
  font-size: 18px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 13px 30px;
  color: #fff;
  background-color: #ea542e;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px #ea542e;
  outline: none;
  transition: 0.3s;
}

button.normal:hover {
  background-color: #fff;
  color: hsl(12, 82%, 60%);
  border: solid 2px #ea542e;
}

button.black {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px #000;
  outline: none;
  transition: 0.3s;
}

a.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #fff;
  background-color: #ea542e;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px #ea542e;
  outline: none;
  transition: 0.3s;
}

a.normal:hover {
  background-color: #fff;
  color: hsl(12, 82%, 60%);
  border: solid 2px #ea542e;
}

a.black {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px #000;
  outline: none;
  transition: 0.3s;
}

input.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #fff;
  background-color: #ea542e;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px #ea542e;
  outline: none;
  transition: 0.3s;
}

input.normal:hover {
  background-color: #fff;
  color: hsl(12, 82%, 60%);
  border: solid 2px #ea542e;
}

input.black {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px #000;
  outline: none;
  transition: 0.3s;
}

.link-pages {
  text-decoration: none;
  font-size: 11px;
  color: #222;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.link-pages::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 7px;
  right: -60px;
}

.link-pages:hover {
  color: #ea3f2d;
  cursor: pointer;
}

.link-pages:hover::after {
  background-color: #ea3f2d;
  cursor: pointer;
}

.bag-icon {
  max-width: 20px;
  width: 20px;
  height: 20px;
}

.bag-li {
  width: 60px;
}

.banner {
  background-image: url(/img/assets/store/store5A.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feature .feature-box {
  width: 200px;
  padding: 25px 25px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

.feature .feature-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.feature .feature-box h6 {
  text-align: center;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: hsl(43, 58%, 30%);
  background-color: hsl(347, 89%, 90%);
}

.feature .feature-box:nth-child(2) h6 {
  background-color: hsl(244, 53%, 90%);
}

.feature .feature-box:nth-child(3) h6 {
  background-color: hsl(198, 56%, 90%);
}

.feature .feature-box:nth-child(4) h6 {
  background-color: hsl(230, 75%, 90%);
}

.feature .feature-box:nth-child(5) h6 {
  background-color: hsl(30, 100%, 90%);
}

.feature .feature-box:nth-child(6) h6 {
  background-color: hsl(66, 100%, 90%);
}

.feature .feature-box img {
  width: 100%;
  margin-bottom: 10px;
}

.hero {
  background-image: url(/img/assets/hero.jpg);
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d7d5c7;
  background-position: center;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-title {
  margin: 20px 40px;
  color: #222;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 25px;
}

.hero .cover-button:hover {
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.hero a {
  text-decoration: none;
}

.container__link-subcategory {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.link-subcategory {
  text-decoration: none;
  font-size: 11px;
  color: #222;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.link-subcategory:hover {
  color: #ea3f2d;
  cursor: pointer;
}

.us-cover {
  background-image: url(/img/assets/cover-us.jpg);
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 15% right 25%;
  background-color: #d7d5c7;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  /* min-width: 768px; */
}

.us-cover__text {
  padding: 0 80px;
}

.us-cover__text h1 {
  color: #ea542e;
  font-size: 60px;
}

.us-cover__text h3 {
  font-size: 30px;
}

.us-cover__text p {
  font-size: 20px;
  color: #000;
}

.logo {
  max-width: 200px;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.137);
}

.menu {
  background-color: hsla(12, 82%, 55%, 0);
  width: 100%;
  height: 88px;
  padding: 0 80px;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: hsla(12, 82%, 55%, 0);
  transition: all 0.3s ease;
}

.menu__links {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
  transition: all 0.3s ease;
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__link {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  display: flex;
  height: 100%;
  align-items: center;
  transition: all 0.3s ease;
}

.menu__link:hover,
.menu__link--inside:hover {
  background-color: hsl(12, 82%, 60%);
  color: rgb(255, 255, 255);
}

.menu__arrow {
  transform: var(--transform);
  transition: transform 0.3s;
  display: block;
  margin-left: 3px;
}

.menu__nesting {
  list-style: none;
  transition: clip-path 0.3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: hsl(12, 82%, 55%);
}

.menu__link--inside {
  padding: 30px 100px 30px 20px;
  transition: all 0.3s ease;
}

.menu__hamburger {
  height: 100%;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}

.menu__img {
  display: block;
  width: 20px;
}

.close {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  min-width: 375px;
  max-width: 600px;
  position: relative;
}

.success-msg {
  font-size: 18px;
  margin-bottom: 10px;
}

.success-link {
  margin-top: 10px;
}

.modal.show {
  display: block;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.success-link .modal-link {
  width: 250px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.newsletter {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("/img/assets/newsletter-cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #aa4435;
}

.newstext {
  padding: 20px;
}

.newstext h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.newstext p {
  color: hsl(0, 0%, 90%);
  font-size: 14px;
  font-weight: 600;
}

.newstext p span {
  color: #ffbd27;
}

.newsletter .form {
  display: flex;
  width: 40%;
  min-width: 340px;
}

.newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.newsletter button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.newsletter button:hover {
  background-color: rgba(255, 255, 255, 0.9098039216);
  border-color: rgba(255, 255, 255, 0.9098039216);
}

.page-header {
  margin: 40px 0;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.page-header-title {
  margin: 40px;
  color: #222;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-size: 35px;
  text-align: center;
}

.boys-header {
  background-image: url(/img/assets/page-header-boys.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.girls-header {
  background-image: url(/img/assets/page-header-girls.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-header {
  background-image: url(/img/assets/blog-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.on-works {
  background-image: url(/img/assets/on-works.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-header h2 {
  font-family: "Allison", cursive;
}

@media (max-width: 600px) {
  .boys-header,
  .girls-header {
    background-size: cover;
  }
}
.feature-products {
  text-align: center;
}

.feature-products .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.feature-products .product {
  width: 23%;
  min-width: 175px;
  padding: 10px 12px;
  border: 1px solid #dcdddd;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  position: relative;
  transition: all 1s ease;
}

.feature-products .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.feature-products .product img {
  width: 100%;
}

.feature-products .product .description {
  text-align: start;
  padding: 10px 0;
}

.feature-products .product .description span {
  color: #606063;
  font-size: 12px;
}

.feature-products .product .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.feature-products .product .description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: hsl(43, 58%, 40%);
}

.feature-products .product .cart-icon {
  overflow: visible;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 500;
  padding: 10px;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all 1s ease;
}

.feature-products .product:hover .cart-icon {
  border: 1px solid #ea542e;
  background-color: #ea542e;
}

.feature-products .product .cart-icon path {
  transition: all 0.5s ease;
}

.sm-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}

.sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 40%;
  background-image: url(/img/assets/sm-banner-2.jpg);
  background-size: cover;
  height: 50vh;
  padding: 30px;
}

.sm-banner .banner-box-1 {
  background-image: url(/img/assets/sm-banner-1.jpg);
}

.sm-banner .banner-box:hover button {
  color: #fff;
  background-color: #ea3f2d;
  border: solid 1px #ea3f2d;
}

.sm-banner .banner-box h2,
.sm-banner .banner-box h4,
.sm-banner .banner-box span {
  width: 50%;
}

.sm-banner .banner-box h2 {
  color: #222;
  font-size: 28px;
  font-weight: 800;
}

.sm-banner .banner-box h4 {
  color: #222;
  font-size: 20px;
  font-weight: 300;
}

.sm-banner .banner-box span {
  color: #222;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

.store-modal {
  display: none;
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.store-modal-close {
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.store-modal-image {
  max-width: 90%;
  max-height: 90%;
}

.store-modal-control {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.store-prev {
  left: 15px;
  font-weight: 700;
}

.store-next {
  right: 15px;
  font-weight: 700;
}

.top__header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #222;
  font-size: 0.9em;
  padding: 0.8em;
}

.top__header__phone,
.top__header__email {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.top__header__phone:before,
.top__header__email:before {
  content: "";
  display: inline-block;
  color: #ea3f2d;
  width: 20px;
  height: 20px;
  align-self: center;
  background-size: cover;
}

.top__header__phone:before {
  background-image: url(/img/assets/phone.svg);
}

.top__header__email:before {
  background-image: url(/img/assets/email.svg);
}

.top__header__link {
  color: #222;
  text-decoration: none;
}

.top__header__link:hover {
  color: #ea3f2d;
  font-weight: 600;
}

.top__header__link:visited {
  color: #222;
}

.pagination {
  text-align: center;
  font-size: 2em;
}

.pagination a {
  text-decoration: none;
  background-color: hsl(12, 82%, 40%);
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}

.pagination img {
  max-height: 18px;
}

/* WhatsApp icon */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-scroll {
  width: 100%;
  background-color: #ea542e;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.137);
  z-index: 99999;
  position: sticky;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}

.header-not-home {
  width: 100%;
  background-color: hsl(12, 82%, 55%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.137);
  z-index: 99999;
  position: sticky;
  top: 0;
  left: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: 0.3s ease;
  gap: 20px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow .social-img {
  width: 25px;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow .social-img:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

footer .payment-methods img {
  width: 200px;
  margin: 10px 0 15px 0;
}

footer a:hover {
  color: rgb(234, 63, 45);
}

footer .copyright {
  width: 100%;
  text-align: center;
}

.blog {
  padding: 150px 150px 0 150px;
}

.blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

.blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

.blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog .blog-details {
  width: 50%;
}

.blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #222;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

.blog .blog-details a:hover {
  color: #ea3f2d;
  cursor: pointer;
}

.blog .blog-details a:hover::after {
  background-color: #ea3f2d;
  cursor: pointer;
}

.blog .blog-box h1 {
  position: absolute;
  top: -63px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -999999;
}

.cart-products {
  margin: 20px auto;
  width: 60%;
}

.cart-products h2 {
  margin-bottom: 20px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
}

.cart-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.cart-product img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #cce7d0;
  border-radius: 10px;
}

.cart-description {
  flex-grow: 1;
  margin-left: 20px;
}

.cart-description h5 {
  margin-bottom: 10px;
}

.cart-description h4 {
  font-weight: bold;
  color: #333;
}

.cart-quantity {
  display: flex;
  gap: 10px;
}

.cart-quantity input {
  width: 50px;
  height: 30px;
  padding: 0 5px;
  font-size: 14px;
}

.cart-quantity input:focus {
  outline: none;
}

.cart-remove button {
  background-color: hsl(12, 82%, 65%);
  color: #fff;
  border: solid 1px #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-summary {
  margin-top: 40px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.cart-summary h4 {
  margin-bottom: 20px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-item span {
  font-weight: bold;
  color: #333;
}

.checkout-btn {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

.checkout-btn:hover {
  background-color: #45a049;
}

/* Estilos adicionales */
.cart-remove button:hover {
  background-color: #ffffff;
  border: solid 1px hsl(12, 82%, 60%);
  color: hsl(12, 82%, 60%);
}

.cart-summary span {
  font-weight: bold;
}

.cart-summary .summary-item:last-child {
  margin-bottom: 0;
}

.page-container {
  width: 100%;
}

.form-container {
  background-color: hsl(0, 0%, 98%);
  font-family: "Roboto", sans-serif;
  line-height: 2em;
  max-width: 500px;
  min-width: 375px;
  margin: 50px auto;
  padding: 1px 40px;
  box-shadow: 1px 1px 10px 1px hsla(0, 0%, 0%, 0.2);
}

.form-title,
.header-paragraph,
.form-container {
  color: #333;
}

.form-title {
  padding-top: 1em;
}

.header-paragraph {
  padding-top: 1em;
}

.header-paragraph a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
}

.header-paragraph a:hover {
  color: #ea542e;
}

.form-group {
  margin: 20px 0;
  width: 100%;
}

.form-label,
.form-input,
.form-textarea {
  width: 94%;
  display: block;
}

.form-textarea {
  resize: vertical;
}

.form-label,
.form-legend {
  font-weight: 700;
  font-size: 14px;
  color: #444;
}

.form-input[type=text],
.form-input[type=email],
.form-input[type=phone],
.form-textarea {
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px 10px;
  color: #333;
  max-width: 500px;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: hsl(0, 0%, 65%);
}

.help {
  font-size: 12px;
  margin-top: 10px;
  color: gray;
}

.send-button {
  font-size: 1em;
  font-weight: 700;
  border: #f0f0f0 solid 2px;
  border-radius: 60px;
  color: #f0f0f0;
  text-shadow: -1px -1px rgba(51, 51, 51, 0.431372549);
  padding: 10px 40px;
  background-color: hsl(194, 52%, 46%);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5490196078);
}

.send-button:hover,
.main__btn-container__btn-reserve:hover {
  background-color: #f23465;
  border-color: #f0f0f0;
  cursor: pointer;
}

.send-button:active,
.main__btn-container__btn-reserve:active {
  background-color: hsla(194, 52%, 76%, 0.5);
  border-color: hsla(194, 52%, 76%, 0.5);
  color: rgba(139, 139, 139, 0.8352941176);
}

.button-container {
  margin: 50px 0;
  display: flex;
  justify-content: flex-end;
}

.contact-form {
  accent-color: hsl(5, 70%, 90%);
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: 2px solid #40a1be;
}

.main__btn-container__btn-reserve {
  text-align: center;
  background-color: #3997b4;
  width: 180px;
  height: 1.5em;
  padding: 10px;
  border: #f0f0f0 solid 2px;
  border-radius: 25px;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5490196078);
}

.main__btn-container {
  margin: 2em 0;
  display: flex;
  justify-content: center;
}

.order-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.order-col {
  width: 50%;
  background-color: hsl(0, 0%, 98%);
  font-family: "Roboto", sans-serif;
  line-height: 2em;
  max-width: 500px;
  min-width: 375px;
  padding: 1px 40px;
  box-shadow: 1px 1px 10px 1px hsla(0, 0%, 0%, 0.2);
}

.image-order {
  max-width: 100px;
  border: 1px solid hsla(0, 0%, 0%, 0.2);
}

.product-list {
  display: flex;
  gap: 10px;
}

.products {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prodetails {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.main-img {
  width: 100%;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

.small-img {
  width: 100%;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

.prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

.prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

.prodetails .single-pro-details h2 {
  font-size: 26px;
}

.prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.prodetails .single-pro-details input:focus {
  outline: none;
}

.prodetails .single-pro-details p {
  line-height: 25px;
}

.single-pro-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: baseline;
  gap: 20px;
  flex-wrap: wrap;
}

.single-pro-details a {
  text-decoration: none;
  font-size: 11px;
  color: #222;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.single-pro-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

.single-pro-details a:hover {
  color: #ea3f2d;
  cursor: pointer;
}

.single-pro-details a:hover::after {
  background-color: #ea3f2d;
  cursor: pointer;
}

.single-pro-details .colors-container {
  display: flex;
}

.single-pro-details .color-list {
  list-style: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 20%;
  display: inline-block;
  margin-right: 5px;
}

.mosaic-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  width: 80%;
  margin: 0 auto;
}

.store-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.horizontal {
  grid-column: span 2;
  grid-row: span 1;
}

.vertical {
  grid-column: span 2;
  grid-row: span 2;
}

.us-text {
  padding: 150px 150px 0 150px;
}

.us-text__container {
  display: flex;
  gap: 30px;
}

.us-block {
  width: 50%;
  margin-top: 30px;
}

.us-video {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
  box-shadow: 1px 1px 10px 1px hsla(0, 0%, 0%, 0.2);
}

@media (max-width: 1500px) {
  .us-cover {
    justify-content: flex-start;
  }
  .us-cover__text {
    position: relative;
    top: 100px;
    left: 25px;
  }
}
@media (max-width: 1300px) {
  .us-cover__text {
    padding: 0 20px;
  }
}
@media (max-width: 1020px) {
  .menu {
    padding-left: 40px;
    padding-right: 40px;
  }
  .us-cover__text {
    top: 50px;
  }
}
@media (max-width: 964px) {
  .hero {
    height: 50vh;
  }
}
@media (max-width: 924px) {
  .menu {
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu__link {
    padding: 0 10px;
  }
  /* Us page */
  .us-text__container {
    flex-direction: column-reverse;
    gap: 0;
  }
  .us-video {
    margin-top: 30px;
  }
  .us-block {
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 900px) {
  .sm-banner .banner-box {
    width: 100%;
    margin: 10px;
  }
}
@media (max-width: 800px) {
  .header {
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.137);
    z-index: 99999;
    position: sticky;
    top: 0;
    left: 0;
  }
  .top__header {
    display: none;
  }
  .logo {
    width: 170px;
  }
  .bag-li {
    display: none;
  }
  .menu__container {
    background-color: hsl(12, 82%, 55%);
  }
  .menu {
    background-color: hsl(12, 82%, 55%);
    padding: 0 10px;
  }
  .menu__hamburger {
    display: flex;
  }
  .menu__item {
    --clip:0;
    overflow: hidden;
  }
  .menu__item--active {
    --transform: rotate(0);
    --background: hsl(12, 82%, 55%);
  }
  .menu__item--show {
    background-color: var(--background);
  }
  .menu__links {
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 85px;
    left: 100%;
    justify-content: stretch;
    background-color: hsl(12, 82%, 55%);
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    padding-top: 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.137);
  }
  .menu__links--show {
    transform: translateX(-100%);
    width: 100%;
  }
  .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }
  .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }
  .menu__nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
  }
  .menu__link--inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499;
  }
  .close {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 20px;
  }
  .close:hover {
    cursor: pointer;
  }
  .hero {
    padding: 0 80px;
  }
  .hero .hero-text-container {
    text-align: center;
    padding: 10px;
    border-radius: 7px;
  }
  .us-cover {
    background-position: center;
  }
  .us-cover__text {
    top: 20px;
    left: 20px;
  }
  .feature {
    display: none;
    justify-content: center;
    gap: 10px;
  }
  .feature-products .product-container {
    justify-content: center;
  }
  .banner h2 {
    width: auto;
    padding: 30px 100px;
  }
  .store-modal {
    top: 86px;
  }
}
@media (max-width: 680px) {
  .hero {
    padding: 40px 0;
  }
  /* Us Page*/
  .us-text {
    padding: 80px 40px 0 40px;
  }
  /* Blog Page */
  .blog {
    padding: 100px 20px 0 20px;
  }
  .blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .blog .blog-details {
    width: 100%;
  }
  /* Contact Page*/
  .form-container {
    max-width: 400px;
  }
}
@media (max-width: 560px) {
  .mosaic-container {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  .hero {
    padding: 50px 0;
  }
  /* Us Page*/
  .us-text {
    padding: 40px 40px 0 40px;
  }
  .section-p1 {
    padding: 40px 0px;
  }
  .banner h2 {
    padding: 30px 0;
  }
}
@media (max-width: 477px) {
  .hero {
    width: 100%;
    padding: 50px 20px;
    background-size: cover;
  }
  .feature-products .product-container {
    gap: 0px;
  }
  .us-cover {
    width: 100%;
    background-size: cover;
  }
  .us-cover__text {
    min-width: 237px;
    padding: 0;
  }
  .us-cover__text h3 {
    font-size: 20px;
  }
  .us-cover__text h1 {
    font-size: 50px;
  }
  .footer {
    padding: 20px;
  }
  /* Single product */
  .prodetails {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  .prodetails .single-pro-details {
    width: 100%;
  }
}

/*# sourceMappingURL=mainSass.css.map */
