.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/img/assets/banner.jpg);
  background-size: cover;
  height: 400px;
  font-size: 16px;
}

.banner h2 {
  width: 50%;
  font-style: 30px;
  padding: 30px 20px;
}


.banner h2 span {
  color: #ea3f2d;
}