.pagination {
    text-align: center;
    font-size: 2em;
}

.pagination a {
    text-decoration: none;
    background-color: #a03037;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;

}


.pagination img {
    max-height: 18px;
}