.feature-products {
  text-align: center;
}

.feature-products .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.feature-products .product {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

.feature-products .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.feature-products .product img {
  width: 100%;
  border-radius: 20px;
}

.feature-products .product .description {
  text-align: start;
  padding: 10px 0;
}

.feature-products .product .description span {
  color: #606063;
  font-size: 12px;
}

.feature-products .product .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.feature-products .product .description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: hsl(43, 58%, 40%);
}

.feature-products .product .cart-icon {
  overflow: visible;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 500;
  padding: 10px;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.feature-products .product:hover .cart-icon {
  border: 1px solid #ea3f2d;
}

//#ea3f2d