@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Castoro+Titling&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

@font-face {
  font-family: 'FreightDis Pro';
  src: url('/font/freightdispro-regular.ttf');
}

/*

Color logo: #ea3f2d hsl(6, 82%, 55%) strong orange Cinnabar
Color orange: #ea542e hsl(12, 82%, 55%);
Color icons: #a03037 red Stiletto


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'FreightDis Pro', sans-serif;
  letter-spacing: 1.5px;

}

body {
    background-color: whitesmoke;
    background-image: url(/img/assets/background-body.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-width: 375px;
    margin: 0 auto;
}

h1 {
  font-size: 33px;
  line-height: 43px;
  color: #222;

}
h2 {
  font-size: 30px;
  line-height: 40px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  color: #222;
}

p {
  font-size: 18px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 13px 30px;
  color: #fff;
  background-color: #ea542e;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px #ea542e;
  outline: none;
  transition: 0.3s;
}

button.normal:hover {
  background-color: #fff;
  color: hsl(12, 82%, 60%);
  border: solid 2px #ea542e;
}

button.black {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px #000;
  outline: none;
  transition: 0.3s;
}

a.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #fff;
  background-color: #ea542e;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px #ea542e;
  outline: none;
  transition: 0.3s;
}

a.normal:hover {
  background-color: #fff;
  color: hsl(12, 82%, 60%);
  border: solid 2px #ea542e;
}

a.black {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px #000;
  outline: none;
  transition: 0.3s;
}

input.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #fff;
  background-color: #ea542e;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px #ea542e;
  outline: none;
  transition: 0.3s;
}

input.normal:hover {
  background-color: #fff;
  color: hsl(12, 82%, 60%);
  border: solid 2px #ea542e;
}

input.black {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px #000;
  outline: none;
  transition: 0.3s;
}

.link-pages {
  text-decoration: none;
  font-size: 11px;
  color: #222;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.link-pages::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 7px;
  right: -60px;
}

.link-pages:hover {
  color: #ea3f2d;
  cursor: pointer;
}

.link-pages:hover::after {
  background-color: #ea3f2d;
  cursor: pointer;
}