.prodetails {
    display: flex;
    margin-top: 20px;
}


.prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.main-img {
    width: 100%;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

.small-img {
    width: 100%;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

.prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

.prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

.prodetails .single-pro-details h2 {
    font-size: 26px;
}

.prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.prodetails .single-pro-details input:focus {
    outline: none;
}

.prodetails .single-pro-details p {
    line-height: 25px;
}

.single-pro-details .return {
    text-decoration: none;
    font-size: 11px;
    color: #222;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.single-pro-details .return::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

.single-pro-details .return:hover {
    color: #ea3f2d;
    cursor: pointer;
}

.single-pro-details .return:hover::after {
    background-color: #ea3f2d;
    cursor: pointer;
}