
.us-text {
    padding: 150px 150px 0 150px;
}

.us-text__container {
    display: flex;
    gap: 30px;
}

.us-block {
    width: 50%;
    margin-top: 30px;
}

.us-video {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    box-shadow: 1px 1px 10px 1px hsla(0, 0%, 0%, 0.2);

}